body {
    background-color: #1C1C1C;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

/* Intro-overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

.overlay h1 {
    font-size: 80px;
    font-weight: 900;
    color: #EF8B18;
    margin-bottom: 5px;
}

.overlay p {
    font-size: 20px;
    max-width: 60%;
    line-height: 1.6;
    margin-bottom: 30px;
    font-weight: 300;
}

.startKnap {
    background-color: #EF8B18;
    color: white;
    border: black 1px;
    padding: 20px 60px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 400;
}

.vendespilFlade {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    justify-items: center;
    padding: 50px;
    max-width: 1200px;
    margin: auto;
}

.vendespilFlade img {
    width: 145px;
    height: auto;
}

.genstartKnap {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.lydIkon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
}